# Archivos de API Keys
app/src/main/java/com/ics/skillsync/utils/ApiKeys.kt

# Archivos de Android Studio
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos de compilación
/app/build/
/app/release/

# Archivos de configuración
*.log
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/

# Archivos de sistema
.DS_Store
Thumbs.db
